<div class="container">
  <div class="row">
    <div class="span8">
      <%= form_for @link, :html => { :class => 'form-horizontal' } do |f| %>
        <div class="control-group">
          <%= f.label :title, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :title, :class => 'text_field', :placeholder => "Student Activism is Dying" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label "Video Url", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :content, :class => 'text_field', :placeholder => "Ex. http://www.youtube.com/watch?v=S4JSeQESzKE" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :tags, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :tags, :class => 'text_field', :placeholder => "Ex. students, activism, politics" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label "Video Description", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :class => 'text_field', "placeholder" => "Student activism seems to be at an all time low in America. The Occupy Colleges movement continues..." %>
          </div>
        </div>
      </br>
        <div class="form-actions">
          <%= f.submit "Take Action", :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      links_path, :class => 'btn' %>
        </div>
      <% end %>
    </div>
    <div class="span4" id="guidelines">
      <h4>Guidelines for Posting</h4>
      <ul>
        <li> Only valid YouTube or Vimeo video links
          <li> Content should promote some type of social, political, economic, or environmental change
            <li> Tags should be simple, yet unique towards a cause
              <li> Be the change you want to see in the world
        <hr/>
      </ul>
    </div>
  </div>
</div>