<div class="container">
  <div class="row">
    <div class="span9">
      <%- model_class = Link -%>
      <div class="page-header">
        <%= link_to "Submit New Film", new_link_path, :id => "new-button",  :class => 'btn btn-primary' %>
        <h2 class="docs"> Documentary Collection </h2>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:description) %></th>
            <th><%= model_class.human_attribute_name(:tags) %></th>
          </tr>
        </thead>
        <tbody>
          <% @links.each do |link| %>
            <tr>
              <td><h4><%= link_to link.title, link_path(link) %></h4></td>
              <td><%= link_to link.description, link_path(link) %></td>
              <td><%= link.tags %></td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      

    </div>
    <div class="span3", id="side-pic">
        <%= image_tag('hacker.jpg', :size => "500x500")%>
    </div>
  </div>
</div>

