<div class="container">
  <div class="row">
    <div class="span9">
      <div class="index-header">
        <%= link_to "Submit New Film", new_link_path, :id => "new-button",  :class => 'btn btn-cancel' %>
        <h2 class="docs"> Documentary Collection </h2>
      </div>
      <table class="table table-striped" id="documentaries">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <% @links.each do |link| %>
            <tr data-title="<%= link.title %>">
              <td><h5><%= link_to link.title, link_path(link) %></h5></td>
              <td><%= link_to link.description, link_path(link) %></td>
              <td><%= link.tags %></td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= paginate @links %>
    </div>
    <div class="span3", id="side-pic">
        <%= image_tag('hacker.jpg', :size => "500x500")%>
        <%= image_tag('internet.png', :size => "500x500")%>
        <%= image_tag('hacker.jpg', :size => "500x500")%>
        <%= image_tag('internet.png', :size => "500x500")%>
        <%= image_tag('hacker.jpg', :size => "500x500")%>
        <%= image_tag('internet.png', :size => "500x500")%>
    </div>
  </div>
</div>

