<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="span9">
      <%- model_class = Link -%>
        <%= link_to "Back", links_path, :class => 'btn', :id => "back-button"  %>
      <div class="page-header">
        <h2><%= "#{@link.title}" %></h2>
      </div>

        <body>
          <p><%= raw(@link.embed(@link.content)) %></p>


        <dl class="dl-horizontal">
          <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
          <dd><%= @link.content %></dd>
          <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
          <dd><%= @link.tags %></dd>
          
        </dl>
         <%= javascript_include_tag "main/link/show" %>
         <script type="text/javascript">
          hacktavism.Views.show.initialize("<%= @url %>");
         </script>
    </div>
    <div class="span3">
      <li><h3>Description</h3>
      <%= @link.description %>
      <li><h3>Charity</h3>
      <span class="charity"></span>
      <li><h4>Cause</h4>
      <span class="cause"></span>
      <span class="zip"></span>
    </div>
  </div>
</div>